.mf-coverflow {
	position: relative;
	width: 80%;
	margin-left: 10%;
	min-height: 200px;
	visibility: hidden;
}

.mf-coverflow .hidden {
	opacity: 0;
}

.mf-coverflow .mf-list {
	list-style: none;
}

.mf-coverflow .mf-cover {
	border-radius: 5px;
	box-shadow: 0 0 1em #888888;
	position: absolute;
	top: 0;
}

.mf-coverflow .active-cover {
	height: 175px;
}

.mf-coverflow .left-cover {
	-webkit-transform: perspective(600px) rotateY(45deg);
	left: 0;
	opacity: 0.8;
}

.mf-coverflow .right-cover {
	-webkit-transform: perspective(600px)  rotateY(-45deg);
	z-index: -10;
	opacity: 0.8;
}
